<!--<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="importModalLabel">Импорт данных из CSV</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form id="import-form" method="post" enctype="multipart/form-data" action="{{ url_for('import_csv') }}">-->
<!--          {{ form.hidden_tag() }}-->
<!--          <div class="mb-3">-->
<!--            {{ form.csv_file.label(class="form-label") }}-->
<!--            {{ form.csv_file(class="form-control") }}-->
<!--          </div>-->
<!--          <button type="submit" class="btn btn-primary">Загрузить</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Модальное окно для загрузки CSV файла -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">Загрузить CSV файл</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url_for('import_csv') }}" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <!-- Поле для загрузки файла -->
          {{ form.csrf_token }}
          {{ form.csv_file.label(class="form-label") }}
          {{ form.csv_file(class="form-control") }}
          {% for error in form.csv_file.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Импортировать</button>
        </div>
      </form>
    </div>
  </div>
</div>
