<div class="modal fade" id="viewRecordModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="viewRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewRecordModalLabel">Просмотр записи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="viewRecordForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="viewRecordTitle" readonly>
                        <label for="viewRecordTitle" class="form-label">Название</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="viewRecordDescription" rows="3" readonly></textarea>
                        <label for="viewRecordDescription" class="form-label">Описание</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="viewRecordDate" readonly>
                        <label for="viewRecordDate" class="form-label">Дата</label>
                    </div>
                    <div class="form-floating mb-3" id="viewRecordPriorityContainer" style="display: none;">
                        <input type="text" class="form-control" id="viewRecordPriority" readonly>
                        <label for="viewRecordPriority" class="form-label">Приоритет</label>
                    </div>
                    <div class="form-floating mb-3" id="viewRecordStatusContainer" style="display: none;">
                        <input type="text" class="form-control" id="viewRecordStatus" readonly>
                        <label for="viewRecordStatus" class="form-label">Статус</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="view_edit_footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn">Закрыть</button>

                <button type="button" class="btn btn-primary" id="editRecordBtn" data-record-id="id" data-record-type="type">Изменить</button>
                <button type="button" class="btn btn-danger" id="deleteRecordBtn" data-record-id="id" data-record-type="type">Удалить</button>

            </div>
        </div>
    </div>
</div>
